@font-face {
  font-family: "StickyPops";
  src: url("StickyPops.otf");
}

@font-face {
  font-family: "Cyberthrone";
  src: url("Cyberthrone.ttf");
}

@font-face {
  font-family: "W95FA";
  src: url("W95FA.otf");
}

@font-face {
  font-family: "MS_Sans_Serif";
  src: url("MS_Sans_Serif.ttf");
}

body {
  color: #00fefc;
  font-family: "Cyberthrone";
  text-shadow: 2px 2px 5px #d30eff;
  background: none;
  padding: 0;
  margin: 0;
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

a {
  color: #e77aff;
}

a:hover {
  color: orange;
}

div div a {
  color: red;
}

div div a:hover {
  color: blue;
}

.ImageRight {
  right: 2.5%;
}

.ImageLeft {
  left: 2.5%;
}

.Comment {
  font: 0.8em "StickyPops", sans-serif;
}

.Textbox {
  display: inline-block;
  vertical-align: middle;
  background-color: white;
  text-shadow: none;
  color: black;
  font: 0.75em "Cyberthrone", sans-serif;
  padding: 2%;
}

.TextRight {
  margin: 0 10% 2% 0;
  width: 60%;
}

.TextLeft {
  margin: 0 0 2% 10%;
  width: 60%;
}

.BlockImages {
  display: inline-block;
  vertical-align: middle;
  width: 24%;
  position: relative;
}

.RightArrow {
  width: 100%;
  text-align: right;
  margin-right: 3px;
}

.Window {
  color: #ffffff;
  display: grid;
  grid-template-columns: 4px auto 4px;
  grid-template-rows: 4px auto 4px;
  position: fixed;
  outline: none !important;
  text-decoration: none !important;
  font-family: "W95FA";
  text-shadow: none;
  width: auto;
  height: auto;
  left: 400px;
  right: 400px;
  top: 200px;
  bottom: 200px;
}

.Window_TopLeftBorder {
  height: 4px;
  width: 4px;
  cursor: nw-resize;
  background-color: #c0c0c0;
  border-left: 2px solid #c0c0c0;
  border-right: none;
  border-top: 2px solid #c0c0c0;
  border-bottom: none;
  box-shadow: inset 2px 2px #fff;
}

.Window_TopBorder {
  height: 3px;
  width: auto;
  cursor: ns-resize;
  background-color: #c0c0c0;
  border-left: none;
  border-right: none;
  border-top: 2px solid #c0c0c0;
  border-bottom: none;
  box-shadow: inset 0px 2px #fff;
}

.Window_TopRightBorder {
  height: 3px;
  width: 3px;
  cursor: ne-resize;
  background-color: #c0c0c0;
  border-left: none;
  border-right: 2px solid #000000;
  border-top: 2px solid #c0c0c0;
  border-bottom: none;
  box-shadow: inset 0px 2px #fff, inset -2px 0px gray;
}

.Window_LeftBorder {
  width: 3px;
  height: auto;
  cursor: ew-resize;
  background-color: #c0c0c0;
  border-left: 2px solid #c0c0c0;
  border-right: none;
  border-top: none;
  border-bottom: none;
  box-shadow: inset 2px 0px #fff;
}

.Window_Internal {
  width: auto;
  height: auto;
  background-color: #c0c0c0;
}

.Window_RightBorder {
  width: 3px;
  height: auto;
  cursor: ew-resize;
  background-color: #c0c0c0;
  border-left: none;
  border-right: 2px solid #000000;
  border-top: none;
  box-shadow: inset -2px 0px gray;
}

.Window_BottomLeftBorder {
  height: 3px;
  width: 3px;
  cursor: sw-resize;
  background-color: #c0c0c0;
  border-left: 2px solid #c0c0c0;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid #000000;
  box-shadow: inset 2px 0px #fff,  inset 0px -2px gray;
}

.Window_BottomBorder {
  height: 3px;
  width: auto;
  cursor: ns-resize;
  background-color: #c0c0c0;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid #000000;
  box-shadow: inset 0px -2px gray;
}

.Window_BottomRightBorder {
  height: 3px;
  width: 3px;
  cursor: se-resize;
  background-color: #c0c0c0;
  border-left: none;
  border-right: 2px solid #000000;
  border-top: none;
  border-bottom: 2px solid #000000;
  box-shadow: inset -2px -2px gray;
}

.TitleBar {
  background-color: gray;
  align-items: center;
  display: flex !important;
  flex-wrap: nowrap !important;
  outline: none !important;
  text-decoration: none !important;
  overflow: clip;
}

.TitleBar .is-active{
  background-color: #0000a8;
}

.TitleBar .button{
  align-items: center;
  text-align: center;
  width: 24px;
  height: 24px;
  font-size: 19px;
  border-width: 2px;
  border-style: solid;
  border-bottom-color: #000000;
  border-right-color: #000000;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  background-color: #c0c0c0;
  font-weight: 700;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: inset -2px 0 gray, inset -2px 2px #dfdfdf, inset -2px -2px gray,
    inset 0 0 0 2px #dfdfdf;
}

.TitleBar_Buttons{
  margin-left: auto;
  display: flex;
}

.TitleBar_Close{
  margin-left: 3px;
}

#Background {
  margin: 0;
  object-fit: contain;
  width: 100%;
  position: fixed;
  z-index: -1;
  display: block;
}

#Taskbar {
  box-shadow: inset 0 2px #ffffff;
  background-color: #c0c0c0;
  border-top: 2px solid #ffffff;
  color: #000000;
  text-shadow: none;
  font-family: "W95FA";
  font-size: 16px;
  padding: 2px 0;
  height: 28px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
}

.Menu{
  font-family: "MS_Sans_Serif";
  display: none;
  position: fixed;
  border-width: 2px;
  border-style: solid;
  border-bottom-color: #000000;
  border-right-color: #000000;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  background-color: #c0c0c0;
  text-shadow: none;
  margin: 0;
}

.Menu.is-active {
  display: flex;
}

.Menu .Internal {
  width: 100%;
  font-size: 0;
}

.Menu .button {
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;
  color: #000000;
  font-size: 12px;
  border: none;
  background: none;
}

.Menu .button.is-active {
  color: #ffffff;
  background-color: #0000a8;
}

.Menu hr {
  width: 100%;
  margin: 2px 0;
  height: 1px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid #808080;
  background-color: #ffffff;
}

#StartMenu {
  width: 182px;
  left: 2.5px;
  bottom: 30px;
}

#StartMenu .button {
  height: 36px;
}

#ProgramsMenu {
  left: 185px;
  bottom: 144px;
}

#StartBanner {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 20px;
  background-color: #808080;
  color: #ffffff;
  padding-top: 4%;
}

#StartBanner b {
  color: #c0c0c0;
}

#Taskbar .Internal {
  display: flex;
  flex-wrap: nowrap !important;
}

#Taskbar .button {
  display: flex !important;
  margin-right: 4px !important;
  flex-wrap: nowrap !important;
  flex: 1 1 auto;
  outline: none !important;
  text-decoration: none !important;
  font-family: "W95FA";
  max-width: 150px;
  width: auto;
  overflow: clip;
  display: flex;
  align-items: center;
  border-width: 2px;
  border-style: solid;
  border-bottom-color: #000000;
  border-right-color: #000000;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  background-color: #c0c0c0;
  font-weight: 700;
  padding-left: 2px;
  padding-right: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  text-align: left;
  cursor: pointer;
  box-shadow: inset -2px 0 gray, inset -2px 2px #dfdfdf, inset -2px -2px gray,
    inset 0 0 0 2px #dfdfdf;
}

#Taskbar .button.is-active {
  border-bottom-color: #ffffff;
  border-right-color: #ffffff;
  border-top-color: #000000;
  border-left-color: #000000;
  box-shadow: inset -2px 0 #dfdfdf, inset -2px 2px gray, inset -2px -2px #dfdfdf,
    inset 0 0 0 2px gray;
}

#Taskbar .button img {
  height: 20px;
  object-fit: contain;
  padding-right: 2px;
}

#Taskbar #StartButton {
  flex: none;
  width: 64px;
  margin-left: 2px !important;
  margin-right: 6px !important;
}

#Taskbar #StartButton.is-active {
  /*
  border-color: #000000;
  border-style: dotted;
  */
}

#Taskbar #Time {
  flex: 0 0 60px;
  border-width: 2px;
  border-style: solid;
  border-bottom-color: #ffffff;
  border-right-color: #ffffff;
  border-top-color: #888888;
  border-left-color: #888888;
  margin-right: 2px;
  padding: 4px 0;
  text-align: center;
  margin-left: auto !important;
}
