@font-face {
  font-family: "StickyPops";
  src: url("StickyPops.otf");
}

@font-face {
  font-family: "Cyberthrone";
  src: url("Cyberthrone.ttf");
}

@font-face {
  font-family: "W95FA";
  src: url("W95FA.otf");
}

@font-face {
  font-family: "MS_Sans_Serif";
  src: url("MS_Sans_Serif.ttf");
}

body {
  color: #00fefc;
  font-family: "Cyberthrone";
  text-shadow: 2px 2px 5px #d30eff;
  background: none;
  padding: 0;
  margin: 0;
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

a {
  color: #e77aff;
}

a:hover {
  color: orange;
}

div div a {
  color: red;
}

div div a:hover {
  color: blue;
}

.ImageRight {
  right: 2.5%;
}

.ImageLeft {
  left: 2.5%;
}

.Comment {
  font: 0.8em "StickyPops", sans-serif;
}

.Textbox {
  display: inline-block;
  vertical-align: middle;
  background-color: white;
  text-shadow: none;
  color: black;
  font: 0.75em "Cyberthrone", sans-serif;
  padding: 2%;
}

.TextRight {
  margin: 0 10% 2% 0;
  width: 60%;
}

.TextLeft {
  margin: 0 0 2% 10%;
  width: 60%;
}

.BlockImages {  
  display: inline-block;
  vertical-align: middle;
  width: 24%;
  position: relative;
}

.RightArrow {
  width: 100%;
  text-align: right;
  margin-right: 3px;
}

#Background {
  margin: 0;
  object-fit: contain;
  width: 100%;
  position: fixed;
  z-index: -1;
  display: block;
}

#Taskbar {
  box-shadow: inset 0 1px #ffffff;
  background-color: #c0c0c0;
  border-top: 2px solid #ffffff;
  color: #000000;
  text-shadow: none;
  font-family: "W95FA";
  font-size: 16px;
  padding: 2px 0;
  height: 28px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
}

#StartMenu {
  display: flex;
  flex-wrap: nowrap !important;
  position: fixed;
  outline: none !important;
  text-decoration: none !important;
  font-family: "W95FA";
  border-width: 1px;
  border-style: solid;
  border-bottom-color: #000000;
  border-right-color: #000000;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  background-color: #c0c0c0;
  text-shadow: none;
  width: 182px;
  left: -190px;
  bottom: 30px;
  margin: 0;
  box-shadow: inset -1px 0 gray, inset -1px 1px #dfdfdf, inset -1px -1px gray,
    inset 0 0 0 1px #dfdfdf;
}

#StartMenu .Internal{
  width: 100%;
  font-size: 0;
}

#StartMenu button{
  display: flex;
  vertical-align: middle;  
  align-items: center;
  flex: none;
  text-align: left;
  width: 100%;
  color: #000000;
  height: 36px;
  font-size: 12px;
  border: none;
  background: none;
}

#StartMenu button.is-active{
  color: #ffffff;
  background-color: #0000a8;
}

#StartMenu hr{
  width: 100%;
  margin: 2px 0;
  height: 1px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid #808080;
  background-color: #ffffff;
}

#StartBanner {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 20px;
  font-family: "MS_Sans_Serif";
  background-color: #808080;
  color: #ffffff;
  padding-top: 4%;
}

#StartBanner b {
  color: #c0c0c0;
}

#StartMenu.is-active {
  left: 2.5px;
}

#Taskbar .Internal {
  display: flex;
  flex-wrap: nowrap !important;
}

#Taskbar button {
  display: flex !important;
  margin-right: 4px !important;
  flex-wrap: nowrap !important;
  flex: 1 1 auto;
  outline: none !important;
  text-decoration: none !important;
  font-family: "W95FA";
  max-width: 150px;
  width: auto;
  overflow: clip;
  display: flex;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-bottom-color: #000000;
  border-right-color: #000000;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  background-color: #c0c0c0;
  font-weight: 700;
  padding-left: 2px;
  padding-right: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  text-align: left;
  cursor: pointer;
  box-shadow: inset -1px 0 gray, inset -1px 1px #dfdfdf, inset -1px -1px gray,
    inset 0 0 0 1px #dfdfdf;
}

#Taskbar button.is-active {
  border-bottom-color: #ffffff;
  border-right-color: #ffffff;
  border-top-color: #000000;
  border-left-color: #000000;
  box-shadow: inset -1px 0 #dfdfdf, inset -1px 1px gray, inset -1px -1px #dfdfdf,
    inset 0 0 0 1px gray;
}

#Taskbar button img {
  height: 20px;
  object-fit: contain;
  padding-right: 2px;
}

#Taskbar #StartButton {
  flex: none;
  width: 58px;
  margin-left: 2px !important;
  margin-right: 6px !important;
}

#Taskbar #StartButton.is-active {
  /*
  border-color: #000000;
  border-style: dotted;
  */
}

#Taskbar #Time {
  flex: 0 0 60px;
  border-width: 1px;
  border-style: solid;
  border-bottom-color: #ffffff;
  border-right-color: #ffffff;
  border-top-color: #888888;
  border-left-color: #888888;
  margin-right: 2px;
  padding: 4px 0;
  text-align: center;
  margin-left: auto !important;
}