body {
  font-size: 187.5%;
  padding: 0;
  text-align: left;
}

th,
td {
  padding: 2%;
}

ul {
  margin: 0;
}

nav h1,
nav h2,
nav h3,
nav h4,
nav h5,
nav h6,
nav ul {
  margin: 0;
}

div h1,
div h2,
div h3,
div h4,
div h5,
div h6 {
  margin: 0;
}

.Header {
  position: static;
  text-align: center;
}

.Comment {
  padding: 2% 6%;
  text-align: justify;
}

.TextBox {
  text-align: justify;
  width: 88%;
  background-size: 100% 100%;
  padding: 0 6%;
}

@media (max-width: 900px) {
  body {
    font-size: 150%;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 100%;
  }
  .ImageLeft {
    max-width: 100%;
  }

  .ImageRight {
    max-width: 100%;
  }
}
