@font-face {
  font-family: "Public Pixel";
  src: url("PublicPixel.ttf");
}

@font-face {
  font-family: "Postal";
  src: url("Postal.ttf");
}

body {
  margin: auto;
  background: url(Wik_Background.jpg) top repeat-y scroll dimgray;
  background-size: 70% auto;
  width: 65%;
  color: #ffffdb;
  font-family: "Postal", sans-serif;
  text-shadow: 2px 2px 5px #aba69b;
}

a {
  color: orange;
}

a:hover {
  color: red;
}

div div a {
  color: red;
}

div div a:hover {
  color: blue;
}

#MainContainer {
  width: 100%;
  min-height: 100%;
  background-color: transparent;
}

#Index {
  position: fixed;
  right: -10.45%;
  width: 12%;
  font-size: 0.8em;
  padding: 0;
}

#Index.is-active {
  right: -1%;
}

#Index a {
  color: black;
}

#Index a:hover {
  color: blue;
}

.Comment {
  color: yellow;
  font: 0.4em "Public Pixel", sans-serif;
}

.TextBox {
  color: black;
  font: 0.75em "Postal", sans-serif;
}

.Background1 {
  padding: 0 6%;
  background: url(Paper_Middle_1.png) no-repeat;
  background-size: 100% 100%;
}

.Border {
  object-fit: contain;
  max-width: 92%;
  display: block;
}

.Background2 {
  padding: 0 6%;
  background: url(Paper_Middle_2.png) no-repeat;
  background-size: 100% 100%;
}

.Background3 {
  padding: 0 6%;
  background: url(Paper_Middle_3.png) no-repeat;
  background-size: 100% 100%;
}

.Background4 {
  padding: 0 6%;
  background: url(Paper_Middle_4.png) no-repeat;
  background-size: 100% 100%;
}

@media (max-width: 900px) {
  body {
    background-size: 80% auto;
    width: 75%;
  }
}

@media (max-width: 500px) {
  body {
    background-size: 90% auto;
    width: 85%;
  }
}
